body {
	font-family: Arial, sans-serif;
}

.app {
	display: flex;
	height: 100vh;
}

.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

/* Set fixed height for table rows and headers */
.table-row,
th {
	height: 60px; /* Set height for rows and header */
	vertical-align: middle; /* Centers content vertically */
}

/* Set height for individual table data (td) cells */
.table-row td {
	height: 60px; /* Set the same height for table data cells */
	vertical-align: middle; /* Centers content vertically */
}

/* Example styles for the table columns */
.col-postId {
	width: 5%;
}

.col-id {
	width: 5ch;
}

.col-name {
	width: 20%;
}

.col-email {
	width: 20%;
}

.col-body {
	width: 50%;
}
